


p {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h2 {

  font-family: 'Roboto', sans-serif;
  font-weight: 500;

}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}




#siteContainer {
  margin: 0 auto;
  width: 920px;
  padding-left: 20px;
  padding-right: 20px;
}



.hero {
  height: 340px;
  width: 920px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

  .heroIndex
  {
  background: url(../images/beer_dispenser_edited3.jpg) no-repeat bottom;
  }




.head {
  text-align: center;
       font-size: 30px;
       padding: 20px;
       color: white;
       line-height: 40px;
       font-family: arial, sans-serif;
}

#bannerHead::after {
        content: "EVERYTHING BEER";
        display: flex;
        transform: rotateX(180deg);
        margin-left: 301px;
        color: #c5ad7a;
      }

#contentHeader
{
  height: 100px;
  margin-top: 20px;

}

.rectangle1
{
  height: 50px;
  width: 150px;
  background-color: #3f4b52;
  float: left;

  }



  .rectangle2
  {
    height: 50px;
    width: 150px;
    background-color: #3f4b52;
    float: right;

    }


#contentHeader h2
{
  text-align:  center;
  line-height: 50px;
  font-size: 25px;

}

.yellowText
{
  color: #c5ad7a
}

.yellowBig
{
  color: #c5ad7a;
  font-size: 24px;
}

#firstText {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  line-height: 20px
}


/* text area 2 */

#content2 {
  height:277px;
  margin-top: 30px;
  display: inline-flex;
}


#image1 {
  float:left;
}

#text2 {
  text-align: left;
  margin-left: 20px;
  line-height: 20px;
  margin-top: 10px;
padding-right: 10px;
}


#content3 {
  height: 280px;
  background-color: #f5c765;
  display: inline-flex;

}

#image2 {
  float: right;
  margin: 30px 37px 0px 0px;
}


#text3  {
  float: left;
  margin-top: 35px;
padding: 0px 10px 0px 10px;
}

#text3 h2 {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

#text3 p {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}


/* content 4 */

#content4 {
  height: 283px;
  margin-top: 20px;
  display: inline-flex;

}

#image3 {
  float: right;
}

#text4 {
  float: left;
  margin-top: 14px;
}

#text4 h2 {
  margin-left: 100px;
  padding-left: 70px;
  font-size: 18px;
}

#text4 p {
  line-height: 25px;
  margin-top: 40px;
  padding-right: 15px;
}
